.video-container {
  .top-controls {
    display: flex;
    .back {
      border: none;
      outline: none;
      background-color: red;
      color: white;
      padding: 1.35rem;
    }
    .heading {
      padding-top: 0.7rem;
      padding-right: 1.35rem;
      margin-right: 4rem;
      border: none;
      outline: none;
      background-color: rgb(25, 25, 25);
      color: white;
      width: 100rem;
      text-align: center;
    }
  }
  .videoPlayer {
    border: none;
    outline: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
