.video-container {
  .top-controls {
      position: absolute;
    .back {
      border: none;
      outline: none;
      background-color: red;
      color: white;
      padding: .5rem;
      margin: 1rem;
      margin-left: 6rem;
    }
  }
  .videoPlayer {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
  }
}
  