*,
*::after,
*::before {
  margin: none;
  box-sizing: border-box;
  padding: none;
}

body {
  background: rgb(25, 25, 25);
}
.big-container {
  background-image: url("https://i.ytimg.com/vi/JVt5qhb6VcM/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 51.25rem;
}
.headerSignin {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.logo {
  margin-left: 3rem;
  margin-bottom: 4rem;
}
.SignIn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 25rem;
  height: 35rem;
  background-color: rgba($color: #000000, $alpha: 0.75);
  h3 {
    color: gray;
    span {
      color: white;
    }
  }
  .title-container {
    display: flex;
    justify-content: left;
    width: 14.8rem;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    h2 {
      color: white;
    }
  }
  input {
    height: 2rem;
    margin-top: 0.75rem;
    width: 15rem;
  }
  button {
    height: 2rem;
    border: none;
    background-color: red;
    width: 15rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .sign-up {
    background: none;
    margin: none;
    padding: none;
    width: 6.5rem;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }
  .sign-up:hover {
    color: red;
    transition: ease 0.3s;
  }
}
